@import "normalize";

body {
    margin: 0;
    font-family: $default_font;
    line-height: ($golden + 0em); //set the regular line height to the golden ratio
    font-weight: 300;
    font-size: 1.1em;
    text-decoration: none;
}

a{
  color: $color-01;

}

.fa,.fa:hover{
  margin-right: 5px;
  text-decoration: none;
}


h1, h1 a, h1 a:focus {
  font-weight: 700;
  font-family: $header_font;
  color: $header-color-dark-a;
  text-decoration: none;
  margin: 0 0px;
  text-transform: capitalize;
}
h1 a:hover{
  color: $header-color-dark;
  text-decoration: none;
}

h4{
  margin: .5em 0px;
}


////


.gs-post-info, .gs-single-post-info{
  font-size: .8em;
}


.gs-post-info,.gs-post-tags, .gs-single-post-info , .gs-single-post-tags{
  text-transform:capitalize;


}

.gs-post-tags,.gs-single-post-tags{


  a,a:hover{
    font-size: .7em;
    text-transform: capitalize;
    text-decoration: none;
  }


}

// POST
.gs-post-info,.gs-single-post-info{

  //font-weight: 600;
//  text-transform: uppercase;
}

.gs-img-header{
  background-size: cover;
  position: relative;
  width: 100%;
  height: 35vh;
}
.gs-single-post-header-dark{
  padding: 25px;
}



.gs-img-header .gs-single-post-header-wrapper{
  position: absolute;
  width: 100%;
  bottom: 25px;
}



.gs-single-post-header{
  width:$max-article-width;
  h1{
      font-size: 3.5em;

  }

}

.gs-single-post-header-light {
  @extend .gs-single-post-header;
  h1,h1,h4,a, .gs-single-post-tags  {
    color: $header-color-light;
    text-shadow:2px 2px rgba(25, 23, 23, 0.39);

  };


}

.gs-single-post-header-dark {
  @extend .gs-single-post-header;
  h1,h1,h4,a{ color: $header-color-dark};

}

.gs-main-wrapper{
  max-width: 920px;

}
