<footer class="footer container-fluid ">
  <div class="container">

<h1>alb16</h1>

<ul class="social-media">
  <li><a href="#"><img src="/content/images/icons/facebook.png" /></a></li>
  <li><a href="#"><img src="/content/images/icons/linkedin.png" /></a></li>
  <li><a href="#"><img src="/content/images/icons/twitter.png" /></a></li>

</ul>
<div class="footertext_uber">All content copyright. All rights reserved. <a href="/">{{@blog.title}}</a> &copy; 2016 &bull; </div>
</div>
</footer>
